$accent-color: #f65289;

#root {
    background-color: white;
    max-width: 600px;
    margin: 10vh auto;
    padding: 15px;

    height: 70vh;

    box-shadow: 0px 1px 10px #333333aa;

    display: flex;
    flex-direction: column;

    @media screen and (max-height: 420px) {
        height: 100vh;
        margin: 0 auto;
    }
}

h1 {
    text-align: center;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;

    margin-bottom: 15px;

    color: $accent-color;
}

hr {
    background-color: lightgray;
    height: 4px;
    border: none;
}

button {
    padding: 1em;
    border: none;
    
    &:hover {
        background-color: #dfdfdf;
    }
    &:active {
        background-color: #d3d3d3;
    }
}

#add-btn {
    background-color: hsl(211, 100%, 58%);
    color: white;

    font-size: 18px;

    &:hover {
        background-color: hsl(211, 78%, 45%);
    }
    &:active {
        background-color: hsl(211, 84%, 36%);
    }
}

.danger {
    background-color: #e33a20;
    color: white;

    &:hover {
        background-color: #cd3118;
    }
    &:active {
        background-color: #b0240f;
    }
}

#input-container {
    width: 100%;

    margin-top: 15px;
    margin-bottom: 15px;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
}

input[type="text"] {
    border: 1px solid gray;
    padding-left: 15px;

    &:focus {
        outline: none;
        border: 1px solid $accent-color;
    }
}

ul {
    margin-top: 15px;
    overflow-y: scroll;
}

li {
    list-style-type: none;
    margin-bottom: 5px;

    display: grid;
    grid-template-columns: 1fr auto auto;

    & > label {
        display: flex;
        align-items: center;

        & > input[type="text"] {
            flex-grow: 1;
            height: 100%;
            max-width: 100%;
            margin-right: 5px;
        }
    }
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;

    display: grid;
    place-content: center;

    margin-right: 6px;

    width: 1.75em;
    height: 1.75em;
    border: 1px solid black;

    &:hover {
        background-color: #eee;
    }

    &:checked {
        background-color: $accent-color;

        &:hover {
            background-color: #d5356a;
        }

        &::after {
            color: white;
            content: '\02713';
            font-size: 1.5em;
        }
    }
}

#empty-text {
    display: block;
    font-size: 22px;
    color: #666;
    margin-top: 15px;
}

.done-btn {
    color: white;
    background-color: rgb(1, 156, 1);

    &:hover {
        background-color: green;
    }
    &:active {
        background-color: darkgreen;
    }
}