* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('assets/bg.jpg');
    background-position: top;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
